/* to add pointer to bootstrap components */
.nav, .pagination, .carousel a { cursor: pointer; }

.dl-hide {
  display: none
}

.dl-show {
  display: run-in
}

.dl-color-yellow {
	color: yellow;
}

.dl-color-blue {
	color: blue;
}

.dl-score-detail {
	font-size: 30px;
	font-weight: bold;
	font-family: Courier;
	text-align: center;
	border-radius: 10px;
	width: 90px;
	height: 90px;
	padding-top: 23px;
	margin-bottom: 5px !important;
}

.dl-score-overall {
	background: #003366;
	padding: 2px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: bold;
	color: white;
	width: 2.5em;
	display: inline-block;
	text-align: right;
}

.dl-score-style {
	background: #66A212;
	padding: 2px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	color: white;
	width: 2.5em;
	display: inline-block;
}