<div main-content>
    <h1>{{'content.stats' | translate }}</h1>
    <hr>
    <div>{{'stats.drunksBeer'|translate}}: <b>{{myStats.count}}</b></div>
    <div>{{'stats.califications'|translate}}: <b>{{myStats.rated}}</b></div>
    <div>{{'stats.uniqueBeers'|translate}}: <b>{{myStats.unique}}</b></div>
    <div>{{'stats.strongestBeer'|translate}}: <b>{{myStats.maxABV.name}} {{'general.with'|translate}} {{myStats.maxABV.abv}}%</b></div>
    <div>{{'stats.weakerBeer'|translate}}: <b>{{myStats.minABV.name}} {{'general.with'|translate}} {{myStats.minABV.abv}}%</b></div>
    <div>{{'stats.topRating'|translate}}: <b>{{myStats.maxScore.beer.name}} {{'general.with'|translate}} {{myStats.maxScore.finalScore}} Pts</b></div>
    <div>{{'stats.worstRating'|translate}}: <b>{{myStats.minScore.beer.name}} {{'general.with'|translate}} {{myStats.minScore.finalScore}} Pts</b></div>
    <div>{{'stats.brewery.amount'|translate}}: <b>{{myStats.breweries.length}}</b></div>
    <div>{{'stats.country.amount'|translate}}: <b>{{myStats.countries.length}}</b></div>

    <hr/>
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li ng-class="{active:tab.name == tabSelected.name}" ng-repeat="tab in tabs">
                <a href="" ng-click="selectTab(tab)">{{tab.caption}}</a>
            </li>
        </ul>
    </div>
    <div ng-switch="tabSelected.name">
        <div ng-switch-when="general">
            <div ng-include="'stats/stats-general.html'"></div>
        </div>
        <div ng-switch-when="map">
            <div ng-include="'stats/stats-map.html'"></div>
        </div>
        <div ng-switch-default>
            <gt-table style="margin-top: 4.8em;" config="tabConfig[tabSelected.name]" context="context[tabSelected.name]"></gt-table>
        </div>
    </div>
</div>

<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>