<div class="row">
    <div class="col-md-12">
        <div class="well"> 
            <highchart style="height:250px" config="beersPerMonth"></highchart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default" > 
            <div class="panel-heading">
                {{'beer.data.style'|translate}}
                <a ng-init="showStyleTable=false" href="" ng-click="showStyleTable=!showStyleTable">
                    <span ng-hide="showStyleTable" class="glyphicon glyphicon-list pull-right"></span>
                    <span ng-show="showStyleTable" class="glyphicon glyphicon-stats pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <div ng-class="{hidden:!showStyleTable}" table-top-bottom context="context" config="styleTBConfig"></div>
                <highchart ng-class="{hidden:showStyleTable}" config="styleChartConfig"></highchart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">
                {{'beer.data.category'|translate}}s
                <a ng-init="showCatTable=false" href="" ng-click="showCatTable=!showCatTable">
                    <span ng-hide="showCatTable" class="glyphicon glyphicon-list pull-right"></span>
                    <span ng-show="showCatTable" class="glyphicon glyphicon-stats pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <div ng-class="{hidden:!showCatTable}" table-top-bottom context="context" config="catTBConfig"></div>
                <highchart ng-class="{hidden:showCatTable}" config="categoryChartConfig"></highchart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">
                {{'content.breweries'|translate}}
                <a ng-init="showBreweryTable=false" href="" ng-click="showBreweryTable=!showBreweryTable">
                    <span ng-hide="showBreweryTable" class="glyphicon glyphicon-list pull-right"></span>
                    <span ng-show="showBreweryTable" class="glyphicon glyphicon-stats pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <div ng-class="{hidden:!showBreweryTable}" table-top-bottom context="context" config="breweriesTBConfig"></div>
                <highchart ng-class="{hidden:showBreweryTable}" config="breweriesChartConfig"></highchart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">
                {{'stats.drunkIn'|translate}}
                <a ng-init="showCountryTable=false" href="" ng-click="showCountryTable=!showCountryTable">
                    <span ng-hide="showCountryTable" class="glyphicon glyphicon-list pull-right"></span>
                    <span ng-show="showCountryTable" class="glyphicon glyphicon-stats pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <div ng-class="{hidden:!showCountryTable}" table-top-bottom context="context" config="countryTBConfig"></div>
                <highchart ng-class="{hidden:showCountryTable}" config="countryChartConfig"></highchart>
            </div>
        </div>
    </div>
</div>
<!-- Location Row -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">
                {{'stats.drunkInLocation'|translate}}
                <a ng-init="showLocationTable=false" href="" ng-click="showLocationTable=!showLocationTable">
                    <span ng-hide="showLocationTable" class="glyphicon glyphicon-list pull-right"></span>
                    <span ng-show="showLocationTable" class="glyphicon glyphicon-stats pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <div ng-class="{hidden:!showLocationTable}" table-top-bottom context="context" config="locationTBConfig"></div>
                <highchart ng-class="{hidden:showLocationTable}" config="locationChartConfig"></highchart>
            </div>
        </div>
    </div>
</div>
<!-- /Location Row -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">{{'beer.data.style'|translate}}</div>
            <div class="panel-body">
                <div table-top-bottom context="context" config="styleAvgTBConfig"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">{{'beer.data.category'|translate}}s</div>
            <div class="panel-body">
                <div table-top-bottom context="context" config="catAvgTBConfig"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">{{'content.breweries'|translate}}</div>
            <div class="panel-body">
                <div table-top-bottom context="context" config="breweriesAvgTBConfig"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">{{'stats.drunkIn'|translate}}</div>
            <div class="panel-body">
                <div table-top-bottom context="context" config="countryAvgTBConfig"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default"> 
            <div class="panel-heading">{{'stats.drunkInLocation'|translate}}</div>
            <div class="panel-body">
                <div table-top-bottom context="context" config="locationAvgTBConfig"></div>
            </div>
        </div>
    </div>
</div>