<table class="table">
    <thead>
        <tr>
            <th ng-repeat="header in config.headers" ng-style="header.style">
                {{header.caption}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in config.rows | orderBy:'-'+config.orderBy | limitTo:config.top">
            <td ng-repeat="header in config.headers" ng-style="header.rowStyle(row)">
                <span ng-click="header.onClick(row)" ng-class="{'dl-anchor': header.onClick}">
                    {{getValue(header,row)}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" style="margin-top: -3em;">
    <thead style="visibility:hidden">
        <tr>
            <th ng-repeat="header in config.headers" ng-style="header.style">
                {{header.caption}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in config.rows | orderBy:'-'+config.orderBy | limitTo:-config.bottom">
            <td ng-repeat="header in config.headers" ng-style="header.rowStyle(row)">
                <span ng-click="header.onClick(row)" ng-class="{'dl-anchor': header.onClick}">
                    {{getValue(header,row)}}
                </span>
            </td>
        </tr>
    </tbody>
</table>