<div main-content>
  <h2 ng-show="beer._id">{{ beer.name }}</h2>
  <h2 ng-hide="beer._id">{{ 'beer.new' | translate }}</h2>
  <form class="bs-example form-horizontal">
    <fieldset>
      <legend>{{ 'beer.form.general' | translate }}</legend>
      <div class="form-group">
        <div class="col-lg-6" dl-input-text id="beername" value="beer.name" caption="{{'beer.data.name'|translate}}"></div>
        <div class="col-lg-6">
          <label for="brewery" class="control-label" tooltip-placement="right" tooltip="{{ 'beer.data.brewery.help' | translate }}">
            {{ 'beer.data.brewery' | translate }}
          </label>
          <div class="input-group">
            <input typeahead="brewery._id as brewery.name for brewery in breweries | filter:$viewValue | orderBy:'name'" class="form-control" type="text" ng-model="beer.brewery" typeahead-editable="false" typeahead-input-formatter="formatBrewerySelection($model,breweries)" placeholder="Comience a escribir para buscar" >
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="openNewBrewery()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6">
          <label for="style" class="control-label" tooltip-placement="right" tooltip="{{ 'beer.data.style.help' | translate }}">
            {{ 'beer.data.style' | translate }}
          </label>
          <select class="form-control" id="style" ng-model="beer.style">
            <optgroup ng-repeat="cat in categories | orderBy:'_id'" label="{{cat._id}}-{{cat.name}}">
              <option ng-selected="style._id == beer.style" ng-repeat="style in styles | filter:{category: cat._id} | orderBy:'_id'" value="{{ style._id }}">
                {{ style.name }} ({{ style._id.toUpperCase() }})
              </option>  
            </optgroup>
          </select>
        </div>
        <div class="col-lg-6">
          <label for="styleByLabel" class="control-label" tooltip-placement="right" tooltip="{{ 'beer.data.styleByLabel.help' | translate }}">
            {{ 'beer.data.styleByLabel' | translate }}
          </label>
          <div class="input-group">
            <select class="form-control" id="styleByLabel" ng-model="beer.styleByLabel">
              <option ng-selected="style._id == beer.styleByLabel" ng-repeat="style in stylesByLabel | orderBy:'name'" value="{{ style._id }}">
                {{ style.name }}
              </option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="openNewStyleByLabel()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-6">
          <div dl-input-text id="pictureUrl" value="beer.pictureUrl" caption="{{'brewery.data.pictureUrl'|translate}}"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-12">
          <label for="description" class="control-label">{{ 'beer.data.description' | translate }}</label>
          <div>
            <textarea class="form-control" rows="5" ng-model="beer.description" id="description"></textarea>
            <span class="help-block">{{ 'beer.data.description.help' | translate }}</span>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'beer.form.technical' | translate }}</legend>
      <div class="form-group">
        <div class="col-lg-3" dl-input-number step="0.1" value="beer.abv" id="abv" caption="{{ 'beer.data.abv' | translate }}" dl-tooltip="{{ 'beer.data.abv.help' | translate }}" placeholder="{{ 'beer.data.abv' | translate }}"></div>
        
        <div class="col-lg-3" dl-input-number value="beer.ibu" id="ibu" caption="{{ 'beer.data.ibu' | translate }}" dl-tooltip="{{ 'beer.data.ibu.help' | translate }}" placeholder="{{ 'beer.data.ibu' | translate }}"></div>

        <div class="col-lg-3" dl-input-number value="beer.og" id="og" caption="{{ 'beer.data.og' | translate }}" dl-tooltip="{{ 'beer.data.og.help' | translate }}" placeholder="{{ 'beer.data.og' | translate }}"></div>
        
        <div class="col-lg-3" dl-input-number value="beer.fg" id="fg" caption="{{ 'beer.data.fg' | translate }}" dl-tooltip="{{ 'beer.data.fg.help' | translate }}" placeholder="{{ 'beer.data.fg' | translate }}"></div>

      </div>
    </fieldset>
    <div class="form-group">
      <div class="col-lg-12">
        <div class="pull-right">
          <a class="btn btn-default" href="#/beer" >{{ 'form.cancel' | translate }}</a> 
          <button type="submit" class="btn btn-primary" ng-click="save()">{{ 'form.save' | translate }}</button> 
        </div>
      </div>
    </div>
  </form>

</div>
<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>