<div>
  <h2>{{ beer.name }}</h2>
  <form class="form-horizontal">
    <fieldset>
      <div class="row">
        <div class="col-md-12">
          <div tooltip="{{ 'beer.data.score.help' | translate }}" class="col-md-1 well well-sm dl-score-detail" ng-class="scoreClass(beer.score.avg)">
            {{ beer.score.avg || '-'}}
          </div>
          <div class="col-md-8">
            <div><b>{{ 'beer.data.brewery' | translate }}</b>: <a href="" ng-click="openBrewery(beer.brewery)">{{ beer.brewery.name }}</a></div>
            <div ng-show="beer.brewery.country"><b>{{ 'brewery.data.location' | translate }}</b>: {{ beer.brewery.locality }}, {{ beer.brewery.country }}</div>
            <div><b>{{ 'beer.data.style' | translate }}</b>: <a href="" ng-click="openStyle(beer.style)">{{ beer.style.name }}</a></div>
            <div ng-show="beer.styleByLabel"><b>{{ 'beer.data.styleByLabel' | translate }}</b>: {{ beer.styleByLabel.name }}</div>
            <div><b>{{'beer.data.score.count'|translate}}</b>: {{ beer.score.count }}</div>
          </div>
        </div>
        <div class="col-md-12">
          <div beer-percentil="beer.score"></div>
        </div>
        
      </div>
      <p></p>
      <div class="well well-sm" ng-show="showValues(beer)">
        <span ng-repeat="value in values" ng-show="beer[value]">
          {{ ('beer.data.' + value) | translate }}: 
          <b>
            {{beer[value]}}{{units[value]}}
          </b> 
          <span ng-hide="$last" class="glyphicon glyphicon-flash"></span>
        </span>
      </div>
      <p></p>
      <div class="well well-sm">
        <h4>{{ 'beer.data.description' | translate }}</h4>
        <div style="white-space: pre-wrap;box-sizing: border-box;" ng-bind-html="beer.description|enrich" ></div>
      </div>
    </fieldset>
  </form>
</div>