<div main-content>
  <div beer-detail="beer"></div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-12">
        <div class="pull-left">
          <button ng-init="showShare=false" type="button" class="btn btn-default" >
            Stock
            <input type="number" class="form-control input-sm" style="display: inline;width: 50px;height: 22px;padding: 0 0 0 10px;font-weight: bold;margin: 0 8px;">
            Actualizar
          </button> 
        </div>
        <div class="pull-right">
          <button ng-init="showShare=false" type="button" class="btn btn-primary" ng-click="showShare=!showShare">
            <span class="glyphicon glyphicon-share-alt"></span>
            {{ 'beer.share' | translate }}
          </button> 
          <a secure-admin class="btn btn-info" href="#/beer/edit/{{beer._id}}" >
            <span class="glyphicon glyphicon-edit"></span>
            {{ 'form.edit' | translate }}
          </a> 
          <a secure class="btn btn-success" href="#/rating/new?beer_id={{beer._id}}" >
            <span dl-icon="chopp"></span>
            {{ 'beer.setAsDrunk' | translate }}
          </a> 
        </div>
      </div>
    </div>
  </form>
  <div collapse="!showShare">
    <input type="text" class="form-control" value="{{embed(beer)}}"/>
    <!-- NOTA: Lo voy a dejar comentado hasta que solucione lo de los meta-tags para single page
    <a href="http://www.facebook.com/sharer.php?p={{beerLink(beer)}}&t={{beer.name}}">FB</a>
    -->
  </div>
  <form class="form-horizontal">
    <h3>{{'beer.data.score.count'|translate}}</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="rating in ratings">
          <div>
            <span class="badge" style="float: left;margin-right: 1em;" ng-class="ratingScoreClass(rating.finalScore)">
              <span ng-show="rating.score">{{ rating.finalScore }}</span>
              <span tooltip="{{'rating.data.notCalification'|translate}}" ng-hide="rating.score" class="glyphicon glyphicon-minus"></span>
            </span>
            <span class="pull-right" ng-show="rating.user._id == user._id" secure>
              <a href="#/rating/edit/{{rating._id}}">
                <span class="glyphicon glyphicon-edit"/>
              </a>
            </span>
            <b>{{ rating.user.name }}</b>
            <span style="color: black;" class="glyphicon glyphicon-flash"></span>
            {{ rating.date | date:'dd/MM/yyyy' }}
            <span style="color: black;" class="glyphicon glyphicon-flash"></span>
            <span ng-show="rating.bottled" tooltip="{{vintageTooltip(rating)}}">
              {{'rating.vintage'|translate}}:
              <b>{{ rating.bottled | date:'yyyy' }}</b>
            </span>
          </div>
          <div collapse="!rating.score">
            {{ 'rating.data.appearance' | translate }}: <b>{{ rating.score.appearance }}/3</b>
            <span style="color: black;" class="glyphicon glyphicon-flash"></span>
            {{ 'rating.data.aroma' | translate }}: <b>{{ rating.score.aroma }}/12</b>
            <span style="color: black;" class="glyphicon glyphicon-flash"></span>
            {{ 'rating.data.flavor' | translate }}: <b>{{ rating.score.flavor }}/20</b>
            <span style="color: black;" class="glyphicon glyphicon-flash"></span>
            {{ 'rating.data.mouthfeel' | translate }}: <b>{{ rating.score.mouthfeel }}/5</b>
            <span style="color: black;" class="glyphicon glyphicon-flash"></span>
            {{ 'rating.data.overall' | translate }}: <b>{{ rating.score.overall }}/10</b>
          </div>
          <div ng-show="rating.comments" style="border: solid;border-radius: 5px;border-color: darkgray;margin-top: 1em;padding: 5px;background: darkgray;color: black;">
            <!-- <h4>{{ 'rating.data.comments' | translate }}</h4> -->
            <p style="white-space: pre-wrap;box-sizing: border-box;">{{rating.comments}}</p>
          </div>          
        </li>
      </ul>
  </form>
</div>
<div side-bar>
  <div ng-include="'side/side.html'"></div>
</div>