<div class="col-lg-8">
  <h2>{{ beer.name }}</h2>
  <form class="bs-example form-horizontal">
    <fieldset>
      <div><b>{{ 'beer.data.brewery' | translate }}</b>: {{ beer.brewery.name }}</div>
      <div><b>{{ 'beer.data.style' | translate }}</b>: {{ beer.style.name }}</div>
      <div ng-show="beer.styleByLabel"><b>{{ 'beer.data.styleByLabel' | translate }}</b>: {{ beer.styleByLabel.name }}</div>
      <p/>
      <div class="well well-sm" ng-show="beer.abv||beer.ibu||beer.og||beer.fg">
        <span ng-show="beer.abv">
          {{ 'beer.data.abv' | translate }}: <b>{{beer.abv}}%</b> <span class="glyphicon glyphicon-flash"></span>
        </span>
        <span ng-show="beer.ibu">
          {{ 'beer.data.ibu' | translate }}: <b>{{beer.ibu}}</b> <span class="glyphicon glyphicon-flash"></span>
        </span>
        <span ng-show="beer.og">
          {{ 'beer.data.og' | translate }}: <b>{{beer.og}}</b> <span class="glyphicon glyphicon-flash"></span>
        </span>
        <span ng-show="beer.fg">
          {{ 'beer.data.fg' | translate }}: <b>{{beer.fg}}</b> <span class="glyphicon glyphicon-flash"></span>
        </span>
      </div>
      <p/>
      <div class="well well-sm">
        <h4>{{ 'beer.data.description' | translate }}</h4>
        <p>{{beer.description}}</p>
      </div>
    </fieldset>
    <div class="form-group">
      <div class="col-lg-12">
        <div class="pull-right">
          <a class="btn btn-warning" href="#/beer" >Agregar sin calificacion</a> 
        </div>
      </div>
    </div>
  </form>
  <form class="bs-example form-horizontal">
    <table class="table">
      <tbody>
        <tr ng-repeat="type in scoreType">
          <th>
            {{ ('rating.data.' + type.name ) | translate }}
          </th>
          <td>
            <rating style="font-size: 20px;" state-off="'glyphicon glyphicon-star-empty'" state-on="'glyphicon glyphicon-star dl-color-yellow'"  value="rating.score[type.name]" max="type.max" ></rating>
          </td>
          <td style="width:6em">
            <!-- <input type="text.name" ng-model="rating.score[type.name]" style="font-weight: bold;" class="form-control input-sm"></input> -->
            <select class="form-control" ng-model="rating.score[type.name]">
              <option ng-repeat="point in array(0,type.max)" value="{{ point }}">
                {{ point }}
              </option>
            </select>

          </td>
        </tr>
      </tbody>
        <!-- TOTAL -->
      <tfoot>
        <tr>
          <th>
            {{ 'beer.data.finalScore' | translate }}
          </th>
          <th>
            <progressbar type="{{typeBar(rating.finalScore)}}" value="rating.finalScore" max="50" >
              {{ valueBar(rating.finalScore) }}
            </progressbar>
          </th>
          <th style="width:4em">
            <span ng-bind="rating.finalScore" style="font-weight: bold;width:4em"/>
          </th>
        </tr>
        <tr>
          <th>
            {{ 'rating.data.comments' | translate }}
          </th>
          <th colspan="2">
            <textarea class="form-control" rows="5" ng-model="rating.comments" id="description"></textarea>
          </th>
        </tr>
      </tfoot>
        
    </table>
    <div class="form-group">
      <div class="col-lg-12">
        <div class="pull-right">
          <a class="btn btn-default" href="#/beer" >{{ 'form.cancel' | translate }}</a> 
          <button type="button" class="btn btn-success" ng-click="save()">Agrega Calificacion</button> 
        </div>
      </div>
    </div>
  </form>

</div>
<div class="col-lg-4">
  <div ng-include="'side/side.html'"></div>
</div>